header {
    height: 100px;
    font-size: 1.2rem;
    width: 100%;
    background-color: rgb(92, 158, 212);
    box-shadow: 2px 5px 5px rgba(58, 57, 57, 0.308);
}

.links {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 25px;
    color: blue;
    text-decoration: none;
}
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

.selected {
    font-weight: bold;
    color: black;
    text-decoration: none;
}